<!-- @Author: YI-SYUAN -->


<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://aframe.io/releases/1.6.0/aframe.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mind-ar@1.2.5/dist/mindar-image-aframe.prod.js"></script>
  </head>
  <body>
    <a-scene mindar-image="imageTargetSrc: ../mind/targets_00.mind;" color-space="sRGB" renderer="colorManagement: true, physicallyCorrectLights" vr-mode-ui="enabled: false" device-orientation-permission-ui="enabled: false">
      <a-assets>
        <img id="card1" src="../img/img_02.png" />
        <img id="card2" src="../img/img_03.png" />
        <img id="card3" src="../img/img_04.png" />
        <img id="card4" src="../img/img_05.png" />
        <img id="card5" src="../img/img_06.png" />
        <img id="card6" src="../img/img_07.png" />
        <img id="card7" src="../img/img_08.png" />
        <img id="card8" src="../img/img_09.png" />
        <img id="card9" src="../img/img_10.png" />
        <img id="card10" src="../img/img_11.png" />
        <img id="card11" src="../img/img_12.png" />
        <img id="card12" src="../img/img_13.png" />
        <img id="card13" src="../img/img_14.png" />
        <img id="card14" src="../img/img_15.png" />
        <img id="card15" src="../img/img_16.png" />
        <img id="card16" src="../img/img_17.png" />
        <img id="card17" src="../img/img_18.png" />
        <img id="card18" src="../img/img_19.png" />
        <img id="card19" src="../img/img_20.png" />
        <img id="card20" src="../img/img_21.png" />
        <img id="card21" src="../img/img_22.png" />
        <img id="card22" src="../img/img_23.png" />
        <img id="card23" src="../img/img_24.png" />
        <img id="card24" src="../img/img_25.png" />
        <img id="card25" src="../img/img_26.png" />
        <img id="card26" src="../img/img_27.png" />
        <img id="card27" src="../img/img_28.png" />
        <img id="card28" src="../img/img_29.png" />
        <!-- <a-asset-item id="avatarModel" src="https://cdn.jsdelivr.net/gh/hiukim/mind-ar-js@1.2.5/examples/image-tracking/assets/card-example/softmind/scene.gltf"></a-asset-item> -->
      </a-assets>

      <a-camera position="0 0 0" look-controls="enabled: false"></a-camera>
      <a-entity mindar-image-target="targetIndex: 0">
        <a-plane color="blue" opaciy="0.5" position="0 0 0" height="0.552" width="1" rotation="0 0 0"></a-plane>
      </a-entity>
      <a-entity mindar-image-target="targetIndex: 1">
        <a-plane color="blue" opaciy="0.5" position="0 0 0" height="0.552" width="1" rotation="0 0 0"></a-plane>
      </a-entity>
      <a-entity mindar-image-target="targetIndex: 2">
        <a-plane color="blue" opaciy="0.5" position="0 0 0" height="0.552" width="1" rotation="0 0 0"></a-plane>
      </a-entity>
      <a-entity mindar-image-target="targetIndex: 3">
        <a-plane color="blue" opaciy="0.5" position="0 0 0" height="0.552" width="1" rotation="0 0 0"></a-plane>
      </a-entity>
      <a-entity mindar-image-target="targetIndex: 4">
        <a-plane color="blue" opaciy="0.5" position="0 0 0" height="0.552" width="1" rotation="0 0 0"></a-plane>
      </a-entity>
      <a-entity mindar-image-target="targetIndex: 5">
        <a-plane color="blue" opaciy="0.5" position="0 0 0" height="0.552" width="1" rotation="0 0 0"></a-plane>
      </a-entity>
      <a-entity mindar-image-target="targetIndex: 6">
        <a-plane color="blue" opaciy="0.5" position="0 0 0" height="0.552" width="1" rotation="0 0 0"></a-plane>
      </a-entity>
      <a-entity mindar-image-target="targetIndex: 7">
        <a-plane color="blue" opaciy="0.5" position="0 0 0" height="0.552" width="1" rotation="0 0 0"></a-plane>
      </a-entity>
      <a-entity mindar-image-target="targetIndex: 8">
        <a-plane color="blue" opaciy="0.5" position="0 0 0" height="0.552" width="1" rotation="0 0 0"></a-plane>
      </a-entity>
      <a-entity mindar-image-target="targetIndex: 9">
        <a-plane color="blue" opaciy="0.5" position="0 0 0" height="0.552" width="1" rotation="0 0 0"></a-plane>
      </a-entity>
      <a-entity mindar-image-target="targetIndex: 10">
        <a-plane color="blue" opaciy="0.5" position="0 0 0" height="0.552" width="1" rotation="0 0 0"></a-plane>
      </a-entity>
      <a-entity mindar-image-target="targetIndex: 11">
        <a-plane color="blue" opaciy="0.5" position="0 0 0" height="0.552" width="1" rotation="0 0 0"></a-plane>
      </a-entity>
      <a-entity mindar-image-target="targetIndex: 12">
        <a-plane color="blue" opaciy="0.5" position="0 0 0" height="0.552" width="1" rotation="0 0 0"></a-plane>
      </a-entity>
      <a-entity mindar-image-target="targetIndex: 13">
        <a-plane color="blue" opaciy="0.5" position="0 0 0" height="0.552" width="1" rotation="0 0 0"></a-plane>
      </a-entity>
      <a-entity mindar-image-target="targetIndex: 14">
        <a-plane color="blue" opaciy="0.5" position="0 0 0" height="0.552" width="1" rotation="0 0 0"></a-plane>
      </a-entity>
      <a-entity mindar-image-target="targetIndex: 15">
        <a-plane color="blue" opaciy="0.5" position="0 0 0" height="0.552" width="1" rotation="0 0 0"></a-plane>
      </a-entity>
      <a-entity mindar-image-target="targetIndex: 16">
        <a-plane color="blue" opaciy="0.5" position="0 0 0" height="0.552" width="1" rotation="0 0 0"></a-plane>
      </a-entity>
      <a-entity mindar-image-target="targetIndex: 17">
        <a-plane color="blue" opaciy="0.5" position="0 0 0" height="0.552" width="1" rotation="0 0 0"></a-plane>
      </a-entity>
      <a-entity mindar-image-target="targetIndex: 18">
        <a-plane color="blue" opaciy="0.5" position="0 0 0" height="0.552" width="1" rotation="0 0 0"></a-plane>
      </a-entity>
      <a-entity mindar-image-target="targetIndex: 19">
        <a-plane color="blue" opaciy="0.5" position="0 0 0" height="0.552" width="1" rotation="0 0 0"></a-plane>
      </a-entity>
      <a-entity mindar-image-target="targetIndex: 20">
        <a-plane color="blue" opaciy="0.5" position="0 0 0" height="0.552" width="1" rotation="0 0 0"></a-plane>
      </a-entity>
      <a-entity mindar-image-target="targetIndex: 21">
        <a-plane color="blue" opaciy="0.5" position="0 0 0" height="0.552" width="1" rotation="0 0 0"></a-plane>
      </a-entity>
      <a-entity mindar-image-target="targetIndex: 22">
        <a-plane color="blue" opaciy="0.5" position="0 0 0" height="0.552" width="1" rotation="0 0 0"></a-plane>
      </a-entity>
      <a-entity mindar-image-target="targetIndex: 23">
        <a-plane color="blue" opaciy="0.5" position="0 0 0" height="0.552" width="1" rotation="0 0 0"></a-plane>
      </a-entity>
      <a-entity mindar-image-target="targetIndex: 24">
        <a-plane color="blue" opaciy="0.5" position="0 0 0" height="0.552" width="1" rotation="0 0 0"></a-plane>
      </a-entity>
      <a-entity mindar-image-target="targetIndex: 25">
        <a-plane color="blue" opaciy="0.5" position="0 0 0" height="0.552" width="1" rotation="0 0 0"></a-plane>
      </a-entity>
      <a-entity mindar-image-target="targetIndex: 26">
        <a-plane color="blue" opaciy="0.5" position="0 0 0" height="0.552" width="1" rotation="0 0 0"></a-plane>
      </a-entity>
      <a-entity mindar-image-target="targetIndex: 27">
        <a-plane color="blue" opaciy="0.5" position="0 0 0" height="0.552" width="1" rotation="0 0 0"></a-plane>
      </a-entity>
      <a-entity mindar-image-target="targetIndex: 28">
        <a-plane color="blue" opaciy="0.5" position="0 0 0" height="0.552" width="1" rotation="0 0 0"></a-plane>
      </a-entity>
    </a-scene>
  </body>
</html>
